body {
    background: #00416A;
    background: -webkit-linear-gradient(to right, #E4E5E6,  #1d6aa8); 
    background: linear-gradient(to right, #E4E5E6,  #1d6aa8); 
  }

  .navbar-title {
    margin-left: 40px;
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      text-align: center;
    }
    .navbar-title {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  .error {
    font-size: 20px;
  }

  .last-element {
    margin-bottom: 350px;
  }