    .navbar-title {
      margin-left: 40px;
    }


    .container {
        z-index: -2;
        background-image: url("../../imagenes/teatro.png");
        background-size: cover;
        float: left;
        width: 100%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
      }
      
      .sidebar {
        display: flex;
        align-items: center;
        margin-left: -40px;
      }
      .search-box {
        background-color: white;
        display: flex;
        align-items: center;
        border: 1px solid black;
        position: relative;
        border-radius: 10px;
        margin: 12px 0px;
      }
      
      .search-input,
      .search-lens {
        width: 270px;
        padding: 15px 5px 15px 15px;
        border: none;
        outline-width: 0px;
        font-size: 18px;
        border-radius: 15px;
      }
      
      .province-list {
        text-align: center;
        max-height: 150px;
        overflow-y: auto;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        position: absolute;
        width: 100%;
        top: 100%;
        border-radius: 15px;
      }
      
      .province-list table {
        width: 100%;
      }
      
      .province-list td {
        cursor: pointer;
        padding: 10px;
      }
      
      .province-list td:hover {
        background-color: #cbc9c9;
      }
      
      .search-icon {
        width: 20px;
        margin: 0px 5px;
      }
      
      .mi-imagen {
        width: 410px;
        margin-top: 20px;
        margin-left: 20px;
      }
      
      .mover-derecha {
        animation: moverDerecha 1s linear;
      }
      
      @keyframes moverDerecha {
        0% {
          transform: translateX(50px);
        }
        100% {
          transform: translateX(0);
        }
      }
      .blue-button {
        width: 322px;
        max-height: 150px;
        background-color: #1d6aa8;
        border: 1px solid black;
        border-radius: 10px;
        padding: 15px 20px;
        margin-bottom: 30px;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      .blue-button:hover {
        background-color: #145488;
      }
      
      .curriculums {
        border: 1px solid black;
        border-radius: 12px;
        position: absolute;
        right: 10px; 
        width: 585px; 
        height: 475px; 
        background-color: rgb(255, 255, 255);
      }

      .curriculums h1 {
        font-size: 24px;
        text-align: center;
      }
      
      .users-icon {
        height: 40px;
        width: auto;
      }
      
      .empleo-container {
        text-align: center;
        color: #fff;
        margin-top: 20px;
        padding-top: 600px;
        font-size: 30px;
        font-weight: 500;
        text-shadow: 0 0 25px #1d6aa8, 0 0 50px #1d6aa8, 0 0 75px #1d6aa8,
          0 0 25px transparent, 0 0 50px transparent, 0 0 75px transparent;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-top: 20px;
        transition: color 1s, text-shadow 1s;
      }
      .empleo-container:hover {
        color: #0e3559;
        text-shadow: 0 0 25px white, 0 0 50px white, 0 0 75px white,
          0 0 25px transparent, 0 0 50px transparent, 0 0 75px transparent;
      }
  
  .social-media {
    margin-top: 500px;
  }