/*---- body ----*/
/*---- body ----*/
/*---- body ----*/

body:not(.body-solicitudes) {
  background: linear-gradient(to right, #ffff00,  #ff1100); 
  font-family: Arial, sans-serif;
  max-width: 100%; 
  margin: 0;
}


/* ---- navbar ----*/ 
/* ---- navbar ----*/ 
/* ---- navbar ----*/ 

.navbar {
  background-color: #5A0F09;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .navbar {
      flex-direction: column;
  }

  .navbar::after {
      display: none;
  }
}
.maleta {
  width: 50px;
}
.title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
}
.navbar-title,
.navbar-title:visited,
.navbar-title:hover {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}
.navbar-links {
  display: flex;
  align-items: center;
}
.box {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}


.box-container {
  display: flex;
  flex-wrap: wrap;
}
.box {
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .box {
    width: 100%;
    margin-right: 0;
  }
}
.box:hover {
  background-color: rgba(255, 255, 255, 0.137);
  transition: background-color 0.6s ease;
}
.redirect:link,
.redirect:active,
.redirect:visited,
.redirect:hover {
  color: #fff;
}

/*---- flechas goback ----*/ 
/*---- flechas goback ----*/ 
/*---- flechas goback ----*/ 

.imagenesflechas {
  position: absolute;
  left: 10px;
}
.flecha,
.flecha-hover {
  height: 51px;
}
.flecha-hover {
  position: absolute;
  top: 0;
  opacity: 0;
}
.flecha-link:hover .flecha-hover {
  display: block;
  opacity: 1;
}

/*---- footer ----*/ 
/*---- footer ----*/ 
/*---- footer ----*/ 

.footer {
  color: #ffffff;
  text-align: center;
  padding: 80px;
  margin-top: 5%;
}

.social-media {
  justify-content: center;
  display: flex;
  gap: 50px;
}

.social-media a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
  position: relative;
  transition: color 0.3s;
}
.social-media img {
  width: 50px;
  height: 50px;
  transition: filter 0.3s;
  color: #ffffff;
  filter: invert(100%);
}
.social-media img:hover {
  filter: invert(80%);
}
.footer-links {
  margin-top: 100px;
  text-align: center;
}
.footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.guion-footer  {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.footer-links a:hover:not(.guion-footer) {
  text-decoration: underline;
}
.footer-text {
  margin-top: 40px;
  font-size: 18px;
}
#map {
	height: 400px;
	width: 100%;
  box-shadow: 0px 10px 20px #1d6aa8;
}