body {
    background: linear-gradient(to right, #b4c5d6, #1d6aa8);
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
}
.navbar {
    background-color: #1d6aa8;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navbar-title {
    margin-left: 40px;
  }
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      text-align: center;
    }
    .navbar-title {
      margin-left: 0;
      margin-top: 10px;
    }
  }
.navbar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5);
    z-index: 0;
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .navbar::after {
        display: none;
    }
}
.maleta {
    width: 40px;
    height: auto;
    margin: 0px 10px;
}
.title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
}
.navbar-title,
.navbar-title:visited,
.navbar-title:hover {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}
.box-container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .box {
        width: 100%;
        margin-right: 0;
    }
}
.box:hover {
    background-color: rgba(255, 255, 255, 0.137);
    transition: background-color 0.6s ease;
}
.redirect:link,
.redirect:active,
.redirect:visited,
.redirect:hover {
    color: #fff;
}
.imagenesflechas {
    position: absolute;
    left: 10px;
}
.flecha,
.flecha-hover {
    height: 51px;
}
.flecha-hover {
    position: absolute;
    top: 0;
    opacity: 0;
}
.flecha-link:hover .flecha-hover {
    display: block;
    opacity: 1;
}
* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.empresasmensaje{
    align-self: center;
}
.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
    background-color: white;
    padding: 30px; 
    box-shadow: 0px -8px 8px #1d6aa89a, 0px 8px 8px rgba(29, 106, 168, 0.233);
}
.container-form h2 {
    margin-bottom: 15px;
    font-size: 35px;
}
.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i {
    color:#1d6aa8;
    margin-right: 10px;
}
.container-form form .campo,
.container-form form textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0;
}
.container-form form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0;
    background:#1d6aa8;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover {
    background:#145488;
}
.YPF-imagen {
width: 180px;
height: auto;
}
.footer {
    color: #ffffff;
    text-align: center;
    padding: 80px;
    margin-top: 5%;
  }
  
  .social-media {
    justify-content: center;
    display: flex;
    gap: 50px;
  }
  
  .social-media a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
  }
  .social-media img {
    width: 50px;
    height: 50px;
    transition: filter 0.3s;
    color: #ffffff;
    filter: invert(100%);
  }
  .social-media img:hover {
    filter: invert(80%);
  }
  .footer-links {
    margin-top: 100px;
    text-align: center;
  }
  .footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
  }
  .guion-footer  {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
  }
  
  .footer-links a:hover:not(.guion-footer) {
    text-decoration: underline;
  }
  .footer-text {
    margin-top: 40px;
    font-size: 18px;
  }
  
