.navbar-title {
  margin-left: 40px;
}

.container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    background-color: #fefefe;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color:#621397;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #8b3ebe;
}

p {
  margin-top: 20px;
}

a {
  color: #282497;
}

.registrate {
  color:#621397;
}

a.registrate:hover {
  text-decoration: underline;
  color: #8b3ebe;
}

p.errorphp {
  color: red;
}