.navbar-title {
  margin-left: 40px;
}   
.terminosycondiciones {
scale: 1;
margin: 50px auto;
background-color: rgba(255, 255, 255, 0.5);
border: 1px solid gray;
border-radius: 12px;
padding: 0;
width: 90%;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
p,
h1 {
margin: 7px;
}
h1 {
font-size: 20px;
}
a,    
a:visited {
color: #1d6aa8;
text-decoration: none;
}
a:hover {
color: #4891cc;
text-decoration: underline;
}
a.joboffer:hover,
.joboffer,
h1.title {
display: flex;
align-items: center;
color: #ffffff;
text-decoration: none;
}
